@using Articulate
@using Umbraco.Core
@model Articulate.Models.PostModel
@{
    Layout = "Master.cshtml";
    
}





<div class="container content-post">
    <div class="row">
        <div class="col-sm-8 post-content">
            <div class="topbannerMedia">
                <iframe width="740" height="416" src="https://www.youtube.com/embed/nTDNLUzjkpg" frameborder="0" gesture="media" allowfullscreen></iframe>
            </div>

            <header>
                <h1 class="post-title">@Model.Name</h1>


            </header>
            
            <article>
                @Model.Body
            </article>
        </div>

        <div class="col-sm-4 sidebar-right">

            <div class="post">
                <span class="category">
                    @Html.Partial("categories")
                    @Model.PublishedDate.ToString("dddd, dd MMMM, yyyy")
                    
                    </span>
                
             

            </div>
            <div class="recentPosts">
                <ul>
                    <li>@Html.Partial("categories")</li>
                 </ul>

            </div>

        </div>
    </div>
    </div>


        <footer class="footer-distributed">
            <div class="container-fluid">
                <div class="footer-left">
                    <h3>Eagleberry<span>logo</span></h3>
                    <p class="footer-links">
                        <a href="#">Home</a>

                        <a href="#">Blog</a>

                        <a href="#">Pricing</a>

                        <a href="#">About</a>

                        <a href="#">Faq</a>

                        <a href="#">Contact</a>
                    </p>
                    <p class="footer-company-name">Eagleberry &copy; 2017</p>
                </div>
                <div class="footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>Che³mynzyska 180</span> Warsaw, Poland</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+48 555 123456</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:support@company.com">support@company.com</a></p>
                    </div>
                </div>
                <div class="footer-right">
                    <p class="footer-company-about">
                        <span>About the company</span>
                        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                    </p>
                    <div class="footer-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                </div>
</footer>




   

